* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #060c25;
}

#section1 {
    width: 95%;
    height: 90vh;
    margin: 20px auto;
    background: #8181fcbd;
    padding: 20px;
    border-radius: 10px;
}

#section2,
#section3 {
    width: 95%;
    display: flex;
    height: 10vh;
    margin: 20px auto;
    background: #8181fcbd;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
}

#divButton,
#divNota1,
#divNota2,
#divsubth3,
h1,
h3 {
    text-align: center;
    margin: 10px;
}

footer {
    text-align: center;
}

button {
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: rgb(0, 0, 0);
}

a {
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
}

#card {
    width: 300px;
    height: 300px;
    margin: 20px auto;
}